*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


html *::selection {
    color: white;
    background: #000;
}

body{
    font-family: "din-alt-bold";
    background-color:#fff;
    color: #1a1a1a;
}

.bold{
    font-family: "din-alt-bold";
}

.medium{
    font-family: "din-alt-med";
}


.regular{
    font-family: "din-alt-reg";
}
.fluid{
    
    max-width: 100%;
}
.nav{
    float: left; 
    width: 100%;
    max-width: 240px;
    max-width:12%;
    height:100vh;
    text-align: center;
    // border: 1px solid #adadad;
    // height: 100vh;
    padding: 60px 30px; 
    position: fixed;
    left:0;
    top:0;
    z-index: 100;
    // border:1px solid #000;
    
    @include desktop-lap{
        // max-width:181px;
        // max-width:20%;
        padding:50px 15px;
       
    }

    @include tablet-large{
        max-width:100%;
        text-align: center;
        height:auto;
        padding:30px 20px;
        mix-blend-mode: difference;
        color: white;
    }
}


.site-name{
    text-transform: uppercase;
    text-decoration: none;
    font-size:26px;
    color: #1a1a1a;
    color: currentColor;

    @include desktop-lap{
        font-size:20px;
        font-size:16px; 
    }
}
a{
    color: #1779ba;
}
.nav-aside{
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    -ms-transform: rotate(180deg);
    max-height: 100vh;
    padding: 0.5em;
    text-align: right;
    padding: 30px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(180deg);
    transform: translateX(-50%) rotate(180deg);

    @include tablet-large{
        transform:rotate(0);
        writing-mode: unset;
        text-align: center;
        left: auto;
        padding:10px;
    }

    &-link{
        text-transform:none;
        text-decoration: none;
        font-size:18px;
        // color:#1a1a1a;
        color: currentColor;
        font-family:"din-alt-reg";
        margin:30px 0;

        @include tablet-large{
            margin:20px;
        
        }

    }
}
main{
    float:right;
    width:100%;
    max-width: calc(100% - 240px);
    max-width:88%;
    // margin-left:100px;
    // padding:0 30px;

    @include desktop-lap{
        // max-width:calc(100% - 181px);
    }

    @include tablet-large{
        margin-top:100px;
        max-width: 100%;
    }
}



.large{
    &-1{
        flex-basis:71%;
    }

    &-2{
        flex-basis:80%;

        .body-copy{
            text-align:center;
            padding:5rem;

            @include tablet-large{
                padding:2rem;
            }
        }
    }
    &-right{
        
        text-align:right;
        margin-left:auto;
    }
    &-left{
        
        text-align:left;
        margin-left:0;
        margin-right:auto;
    }
}

.small{
    &-1{
        flex-basis:26%;
    }

    &-2{
        flex-basis:30%;
        padding:1rem;
    }
    &-3{
        flex-basis:40%;
    }
    &-right{
        
        text-align:right;
        margin-left:auto;
    }
    &-left{
        
        text-align:left;
        margin-left:0;
        margin-right:auto;
    }
}

.text{

    &-left{
        text-align:left;
    }

    &-center{
        text-align:center;
    }
    &-right{
        text-align:right;
    }
}

.work-list{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    // margin-top: 20rem;

    .work-item{
        position: relative;
        z-index: 0;
        padding: 2rem;
        padding:0;
        pointer-events: none;
        max-width: 80%;

        @include tablet-large{
            flex-basis: 100% !important;
            padding:1rem;
            max-width:90%;
        }

        &-wrap{
            position: relative;
            display: inline-block;
            pointer-events: auto;
            padding-bottom: 10rem;
            z-index: 1;

            @include desktop-lap {
                padding-bottom:5rem;
            }

            @include tablet-large{
                padding-bottom:2rem;
            }

            
        }
    }
}

.work-item{
    &-copy-title{
        padding:30px;
        text-align:center;
        max-width: 300px;
        margin: 0 auto;
    }
}
.work-item-img-wrap{
    cursor: url(../images/cursor-pointer.png) ,auto;
}

.gallery{
    max-width:80%;
    
    &.slick-slider{
        &.slick-dotted{
            margin-bottom:100px;
        }
        
    }
    .slick-dots{
        bottom:-50px;
        li{
            background-color:#e1e1e1;
            // border: 1px solid #000;
            border-radius: 100%;
            &.slick-active{
                background-color:#a6a6a6;
            }
            button{
                display: none;
            }

            @include desktop-lap-lg(){
                width:15px;
                height:15px;
            }
        }
    }

}

