


@font-face {
  font-family: "din-alt-bold";
  src: url( "../fonts/DIN-BoldAlternate/DIN-BoldAlternate.eot");
  src: url( "../fonts/DIN-BoldAlternate/DIN-BoldAlternate.eot?#iefix") format("embedded-opentype"),
  url("../fonts/DIN-BoldAlternate/DIN-BoldAlternate.woff") format("woff"),
  url( "../fonts/DIN-BoldAlternate/DIN-BoldAlternate.ttf") format("truetype"),
  url( "../fonts/DIN-BoldAlternate/DIN-BoldAlternate.svg#DIN-BoldAlternate") format("svg");

  font-weight: normal;
  font-style: normal;
} 


@font-face {
  font-family: "din-alt-reg";
  src: url( "../fonts/DIN-RegularAlternate/DIN-RegularAlternate.eot");
  src: url( "../fonts/DIN-RegularAlternate/DIN-RegularAlternate.eot?#iefix") format("embedded-opentype"),
  url("../fonts/DIN-RegularAlternate/DIN-RegularAlternate.woff") format("woff"),
  url( "../fonts/DIN-RegularAlternate/DIN-RegularAlternate.ttf") format("truetype"),
  url( "../fonts/DIN-RegularAlternate/DIN-RegularAlternate.svg#DIN-RegularAlternate") format("svg");

  font-weight: normal;
  font-style: normal;
} 



@font-face {
  font-family: "din-alt-mid";
  src: url( "../fonts/DIN-MediumAlternate/DIN-MediumAlternate.eot");
  src: url( "../fonts/DIN-MediumAlternate/DIN-MediumAlternate.eot?#iefix") format("embedded-opentype"),
  url("../fonts/DIN-MediumAlternate/DIN-MediumAlternate.woff") format("woff"),
  url( "../fonts/DIN-MediumAlternate/DIN-MediumAlternate.ttf") format("truetype"),
  url( "../fonts/DIN-MediumAlternate/DIN-MediumAlternate.svg#DIN-MediumAlternate") format("svg");

  font-weight: normal;
  font-style: normal;
} 


